<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Huddypro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body{
        background: hsl(212, 14%, 73%);
        background-image: url(bg1.png);
      }
      #wel{
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      #wel h1{
        text-shadow: 5px 0  5px white;
      }
      .drop-area {
        border: 2px dashed #ccc;
        padding: 20px;
        height: 400px;
        text-align: center;
        cursor: pointer;
      }
      .drop-area form{
        text-align: left;
      }

      .drop-area p {
        margin: 0;
      }

      #fileList {
        margin-top: 20px;
      }

      .file-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
      .activ{
        border: 2px dashed #1c053f;
      }
      .over{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.192);
      }
      .msg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding-bottom: 10px;
      }
    </style>
</head>
<body>
    <div class="container border border-dark">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <!-- Logo on the far left -->
                  <a class="navbar-brand" href="/">
                    <img src="icon.jpg" class="rounded" alt="Logo" width="50" height="auto">
                  </a>
            
                  <!-- Toggle button for small screens -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  <!-- Links on the far right -->
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <% if (typeof user !== 'undefined') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout</a>
                        </li>
                      <% } else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">login</a>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        <h2>Control Pannel</h2>
        <div class="row " style="min-height: 500px;">
          <details class="bg-light text-dark p-1">
            <summary class="bg-dark text-light p-2 rounded">Manage Accounts</summary>
          <div class="col-10">
            <% if (typeof eData !== 'undefined') { %>
             <% eData.forEach(e => { %>
              <details class="bg-light rounded p-2">
                <summary class="bg-dark text-light p-1 rounded"><%= e.LName %> - <%= e.email %></summary>
                <% if (e.admin) { %>
                 <form action="/removeAdmin" method="post">
                    <input type="email" value="<%= e.email %>" name="email" style="display: none;">
                    <input class="btn btn-danger" type="submit" value="Remove Adminstrator Previlleges.">
                 </form>
                <% } else { %>
                 <form action="/makeAdmin" method="post">
                    <input type="email" value="<%= e.email %>" name="email" style="display: none;">
                    <input class="btn btn-success m-1" type="submit" value="Give Adminstrator Previlleges.">
                 </form>
                <% } %>
              </details>
             <% }) %>
            <% } %>
          </div>
          </details>
          <details class="bg-light text-dark p-1">
            <summary class="bg-dark text-light p-2 rounded">Change Password</summary>
            <% if (typeof user !== 'undefined') { %>
           
                <form action="/changePassword" method="post" class="f">
                    <div class="row">
                        <div class="mb-3" style="display: none;">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" value="<%= user.email %>" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="oldPass" name="oldPass" required>
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" onchange="checkpass()" name="password" required>
                          </div>
                          <div class="mb-3">
                            <label for="ppassword" class="form-label">Confirm New Password</label>
                            <input type="password"  class="form-control" id="ppassword" onchange="checkpass()" required>
                            <p id="p"></p>
                          </div>
                            <input type="submit" value="Change Password" class="btn btn-primary" id="btn-s" disabled>
                    </div>
                </form>
              <% } %>
          </details>
        </div>
        <% if (typeof message !== 'undefined') { %>
        <div class="over">
          <div class="msg">
            <div class="card">
              <div class="card-header">
                Alert
              </div>
              <div class="card-body">
                <h5 class="card-title">Message</h5>
                <p class="card-text"><%= message %></p>
              </div>
              <button style="margin: 0 auto;" class="btn btn-danger" onclick="btnClose()">Refresh</button>
              <br>
            </div>
          </div>
        </div>
        <% } %>
        <div class="row bg-dark text-light text-align-center">
          <br>
          <p style="text-align: center;">Developed as a prototype for uploading files, course works, and exam submissions.</p>
          <p style="text-align: center;">copyright &copy;huddypro 2023</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script>
    function checkpass(){
     var pass = document.getElementById('password');
     var pass1 = document.getElementById('ppassword');
     var p = document.getElementById('p');
     var b = document.getElementById('btn-s');

     if(pass.value == pass1.value){
       p.className = "text-success"
       b.disabled = false;
       p.innerText = "You have confirmed your password successfully";
     }
     else{
       p.className = "text-danger"
       p.innerText = "Passwords dont match";
       b.disabled = true;
     }
   }
   
    function btnClose(){
        $('.over').css('display','none');
        window.location.href = '/account';
      }
   </script>
</body>
</html>